<% content_for('body') do %>
<% view :todos do %>

<div class="header">
  <h1>Todos</h1>
  <div class="buttons">
    <%= button_view :title => 'Add' %>
    <%= button_view :title => 'Delete' %>
  </div>
</div>

<% scroll_view :task_list_scroll_view do %>
  <%= list_view :task_list %>
<% end %>

<div class="footer">
</div>

<% end %>

<% end %>
