body.sc-theme { background: #555; }

/* Style the main Todos div.  We use absolute positioning and this margin
   trick to center the view in the screen. */
.todos {
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -320px;
  height: 480px;
  top: 50%;
  margin-top: -240px;
  border: 1px #888 solid;
  background: #f0f0f0;
}

/* Setup the header as an absolutely positioned area and positioned the two
   child elements within it. */
.todos .header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 24px;
}


.todos .task_list_scroll_view {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 20px;
  top: 26px;
  border: none ;
  border-top: 1px #888 solid;
  border-bottom: 1px #888 solid;
}

.todos .header h1 {
  font-size: 18px;
  padding: 4px;
}

.todos .header .buttons {
  position: absolute;
  right: 0;
  top: 2px;
  height: 20px;
}
