<% content_for('body') do %>
<% view :todos do %>

<div class="header">
  <h1>Todos</h1>
  <div class="buttons">
    <%= button_view :outlet => true, :title => 'Add' %>
    <%= button_view :outlet => true, :title => 'Delete' %>
  </div>
</div>

<% scroll_view :tasks_scroll_view, :outlet => true do %>
  <%= list_view :outlet => true %>
<% end %>

<div class="footer">
</div>

<% end %>

<% end %>
